@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap");
* {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
}
body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.jumbotron {
  background: url("http://2d.by/wallpapers/g/gora_dzhefferson.jpg") no-repeat
    scroll center center black;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  background-size: cover !important;
}
.about {
  color: #f1f2f6;
  font-size: 20px;
}
.btn {
  margin: 10px;
}
